<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_SYnlRES6YZ-Y9sE8Q1G72FwleQ81xSI</string>
	<key>GCM_SENDER_ID</key>
	<string>782274326261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.infravision</string>
	<key>PROJECT_ID</key>
	<string>infravision-5a543</string>
	<key>STORAGE_BUCKET</key>
	<string>infravision-5a543.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782274326261:ios:b766fd1e85469457845fbc</string>
</dict>
</plist>